
body{
	background-color: #FFF8D5;  
	font-family: 'Open Sans', sans-serif;
			}

#encabezado {
	width: 100%;
	height: 100px;
	background-color:#FFF8D5;}
	
.contenedor {
background-color: pink;
	width:800px;
	height: 40px;
	padding: 0px;
	margin: 20px 0px;
	border: 0px solid blue;
	font-size: 15px;
	color: hotpink;
	text-align: center;
	font-family: 'Merriweather', serif;


}
.tejidosvg {
	margin-top: -200px
	width: 100%;}

.titulo{
	float: center;
	font-family:'Stick No Bills', sans-serif;
	margin-left: 350px;
	margin-top: -80px;
	font-size: 70px;
	color:black;
}	

.paper{
	width: 200px; 
	padding: 20px 0px;
	margin: 0px;
	background: gray;
	margin: 0 auto; 
	float: center;
	margin-top: 400px;
	display: inline-block;

}
.proyecto{
	width: 200px; 
	padding: 20px 0px;
	margin: 0px;
	background: gray;
	margin: 0 auto; 
	float: center;
}
.analisis{
	width: 200px; 
	padding: 20px 0px;
	margin: 0px;
	background: gray;
	margin: 0 auto; 
	float: center;
 
 display: inline-block;
}


#contenedor{
	
}


.autor{
	width: 300px;
	height: 300px;
	margin-left:950px;
	margin-top: -50px;
}

.p1{
	margin-top:-260px;
}

.nombreautor {
	margin-left: 985px;
	margin-bottom: 50px;
	width: 200px;
	margin-top:100px ;
	
}

.p2 {
	margin-left: 950px;
	width: 300px;

}