
body{
	background-color: #FFF8D5;  
	font-family: 'Open Sans', sans-serif;
			}

#encabezado {
	width: 100%;
	height: 100px;
	background-color:#FFF8D5;}

.tejidosvg {
	margin-top: -200px;
	width: 100%;}

.titulo{
	float: center;
	font-family:'Stick No Bills', sans-serif;
	margin-left: 350px;
	margin-top: -80px;
	font-size: 70px;
	color:black;
}	

.paper{
	width: 200px; 
	padding: 20px 0px;
	margin: 0px;
	background: gray;
	margin: 0 auto; 
	float: center;
	margin-top: 400px;

}
.proyecto{
	width: 200px; 
	padding: 20px 0px;
	margin: 0px;
	background: gray;
	margin: 0 auto; 
	float: center;
}
.analisis{
	width: 200px; 
	padding: 20px 0px;
	margin: 0px;
	background: gray;
	margin: 0 auto; 
	float: center;
}


#contenedor{
	background-color: pink;
	width: 100%;
	padding: 0px;
	margin: 20px 0px;
	border: 0px solid blue;
	font-size: 28px;
	color: hotpink;
	text-align: center;
	font-family: 'Merriweather', serif;
}


